[submodule "saleor"]
	path = saleor
	url = git@github.com:almousa1990/saleor.git
[submodule "saleor-storefront"]
	path = saleor-storefront
	url = git@github.com:almousa1990/saleor-storefront.git
[submodule "saleor-dashboard"]
	path = saleor-dashboard
	url = git@github.com:almousa1990/saleor-dashboard.git
